<div class="mainDiv">
    <div class="row">
        <div class="col-sm-4" style="display: flex;justify-content: center;align-items: center;border-radius: 10px;">
            <img src="../../../../assets/image/MartinPhotoDone.jpg" style="border-radius: 10pt;">
        </div>
        <div class="col-sm-8">
            <div>
                <div class="input-group fMargin">
                    <div class="input-group-prepend">
                        <span class="input-group-text">作者：</span>
                    </div>
                    <input type="text" class="form-control " id="author " name="author " value="潘丁瑜 ">
                </div>
                <div class="input-group fMargin ">
                    <div class="input-group-prepend ">
                        <span class="input-group-text ">學歷：</span>
                    </div>
                    <input type="text" class="form-control" id="education" name="education" value="東吳資訊碩士">
                </div>
                <div class="input-group fMargin">
                    <div class="input-group-prepend">
                        <span class="input-group-text">職業：</span>
                    </div>
                    <input type="text" class="form-control " id="jobtitle" name="jobtitle" value="網站軟體設計Freelancer">
                </div>
                <div class="input-group fMargin">
                    <div class="input-group-prepend">
                        <span class="input-group-text">簡介：</span>
                    </div>
                    <textarea cols="3" class="form-control " id="explain" name="explain">本網站採MEAN stack (MongoDB, Express, Angular, Node.js)設計</textarea>
                </div>
                <div class="input-group fMargin">
                    <div class="input-group-prepend">
                        <span class="input-group-text">用途：</span>
                    </div>
                    <textarea cols="3" class="form-control " id="purpose" name="purpose">本網站用於輔助背誦英文單字計約蒐集八千字分初級中級與中高級</textarea>
                </div>

            </div>

        </div>

    </div>
</div>