<div class="mainDiv">
    <div class="row">
        <div class="col-sm-12">
            <h3>一、簡介</h3>
            <p style="font-size: large;">本網站用於輔助背誦英文單字計約蒐集八千字，分初級中級與中高級；在學習英文時英文單字與文法是兩大重點，本網站只用於輔助英文單字背誦，具備單字中文解釋及誦讀功能，中文解釋係參考全民英檢之英文單字解釋，而發音則是使用html5的發音功能。本網站原先是給自己小孩背誦英文單字使用，使用後效果頗佳。因此開放給網友有背誦英文需庫者免費使用。本網站採CI/CD方式利用業餘時間開發，會持續不斷改進，增加功能。</p>
            <h3>二、用法簡述</h3>
            <p style="font-size: large;">要使用本網站必須先註冊或登入後才能使用，登入後分3歩驟使用-設定、練習、測驗以達到深刻紀憶之目標；設定分兩種一是「練習設定」這是由資料庫中取出英文單字以供練習。另一是「單字輸入設定」由使用者自己輸入單字，主要用途是當學生想用於背誦英文課本或英文雜誌中的生字時作為輔助之用。有三種輔助方式「單字拼字練習」，「英選中練習」，「自動語音拼字」，測驗也有三種「單字拼字測驗」，「英選中測驗」，「單字填空測驗」，當測驗都達到90分以上時再到「<span class="hint">設定/練習設定</span>」中去按下「
                <span
                    class="hint">練習完成</span>」按鈕。網頁會將剛才設定的英文單字由記憶體中清除。就可以重新設定單字來練習。
            </p>
            <br>
            <br>
        </div>
    </div>
</div>