<!-- <app-page-header [content]="pageContent.header"></app-page-header> -->
<br/>
<br/>
<br/>
<h2 class="text-center" style="color: white;">登入頁</h2>
<div class="row">
    <div class="col-12">
        <form (submit)="onLoginSubmit()">
            <p class="lead">不是會員請先 <a routerLink="/general/register" class="btn btn-primary">註 冊</a> </p>
            <div role="alert" *ngIf="formError" class="alert alert-danger">
                {{ formError }}</div>
            <div class="input-group fMargin">
                <div class="input-group-prepend">
                    <span class="input-group-text">Email：</span>
                </div>
                <input type="email" class="form-control" id="email" name="email" placeholder="輸入 email " [(ngModel)]="credentials.email">
            </div>
            <div class="input-group fMargin">
                <div class="input-group-prepend">
                    <span class="input-group-text">密 碼：</span>
                </div>
                <input [type]="passwordTextType?'password':'text'" class="form-control" id="password" name="password" placeholder="輸入密碼" [(ngModel)]="credentials.password" autocomplete="off">
                <div class="input-group-append">
                    <span class="input-group-text">
                      <i class="fa" [ngClass]="{
                        'fa-eye-slash': passwordTextType,
                        'fa-eye': !passwordTextType
                      }" (click)="setPasswordText()"></i>
                    </span>
                </div>
            </div>
            <div class="col-12 fMargin">
                <input type="checkbox" name="keepLocal" [(ngModel)]="credentials.keep">
                <label for="keepLocal">記住Email，下次不用輸入</label>
            </div>
            <div class="col-12 fMargin">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="submit" role="button" class="btn btn-primary">登入</button>
                    <a routerLink="/general/resetpws" class="btn btn-primary" style="margin-left: 80px;">忘記密碼</a>
                </div>
            </div>
        </form>
    </div>
    <!-- <app-sidebar [content]="pageContent.sidebar" class="col-12 col-md-4"></app-sidebar> -->
</div>