<!-- <app-page-header [content]="pageContent.header"></app-page-header> -->
<br/>
<br/>
<br/>
<div class="row">
    <div class="col-12">
        <p class="lead">如果已經是會員請直接 <a routerLink="/general/login" class="btn btn-primary">登 入</a> </p>
        <form (submit)="onRegisterSubmit()">
            <div role="alert" *ngIf="formError" class="alert alert-danger">
                {{ formError }}</div>
            <div class="input-group fMargin">
                <div class="input-group-prepend">
                    <span class="input-group-text">姓 名：</span>
                </div>
                <input type="email" class="form-control" id="name" name="name" placeholder="輸入 姓名 " [(ngModel)]="credentials.name">
            </div>
            <div class="input-group fMargin">
                <div class="input-group-prepend">
                    <span class="input-group-text">Email：</span>
                </div>
                <input type="email" class="form-control" id="email" name="email" placeholder="輸入 email " [(ngModel)]="credentials.email">
            </div>
            <div class="input-group fMargin">
                <div class="input-group-prepend">
                    <span class="input-group-text">密 碼：</span>
                </div>
                <input [type]="passwordTextType?'password':'text'" class="form-control" id="password" name="password" placeholder="輸入密碼" [(ngModel)]="credentials.password" autocomplete="off">
                <div class="input-group-append">
                    <span class="input-group-text">
                      <i class="fa" [ngClass]="{
                        'fa-eye-slash': passwordTextType,
                        'fa-eye': !passwordTextType
                      }" (click)="setPasswordText()"></i>
                    </span>
                </div>
            </div>
            <div class="input-group fMargin">
                <div class="input-group-prepend">
                    <span class="input-group-text">確 認：</span>
                </div>
                <input id="password2" name="password2" [type]="password2TextType?'password':'text'" class="form-control" placeholder="確認密碼" [(ngModel)]="password2content" autocomplete="off">
                <div class="input-group-append">
                    <span class="input-group-text">
                      <i class="fa" [ngClass]="{
                        'fa-eye-slash': password2TextType,
                        'fa-eye': !password2TextType
                      }" (click)="setPassword2Text()"></i>
                    </span>
                </div>
            </div>
            <button type="submit" role="button" class="btn btn-primary  fMargin">註冊</button>
        </form>
    </div>
    <!-- <app-sidebar [content]="pageContent.sidebar" class="col-12 col-md-4"></app-sidebar> -->
</div>