<div class="mainDiv">

    <div class="row">
        <table class="col-12">
            <tr>
                <td class="center" colspan="2">
                    <h2>英文單字自已輸入</h2>
                </td>
            </tr>
            <tr *ngIf="message">
                <td class="center" colspan="2">
                    <span class="alert alert-danger">{{message}}</span>
                </td>
            </tr>
            <tr>
                <td class="center clm1">
                    <h5>英文</h5>
                </td>
                <td class="center clm2">
                    <input class="full" type="text" (blur)="onBlur()" (keyup)="getWordIdsFirstWay($event)" id="WordIdFirstWay" list="dynmicWordIds" />
                    <datalist id="dynmicWordIds">
                       <option *ngFor="let item of wordList1" [value]="item">{{item}}</option>
                    </datalist>
                </td>
            </tr>
            <tr>
                <td class="center clm1">
                    <h5>中文</h5>
                </td>
                <td class="center clm2">
                    <textarea [(ngModel)]="this.newWord.chi" class="full" rows="3"></textarea>
                </td>
            </tr>
            <tr *ngIf="wordAry.length > 0">
                <td class="center clm1">
                    <h5>字庫</h5>
                </td>
                <td class="center clm2">
                    <select>
                        <option *ngFor="let word of wordAry">{{word.eng}}</option>
                    </select>
                </td>
            </tr>
        </table>

    </div>

    <div class="navbar fixed-bottom foot2nd">
        <div class="row">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button *ngIf="this.newWord.chi" type="button" class="btn btn-success" (click)="Add2List()" title="加入字庫">加入</button>
                <button *ngIf="wordAry.length > 0" type="button" class="btn btn-success" (click)="Save2Local()" title="加入本次字庫，上次儲存之字庫會被清除">儲存</button>
            </div>
        </div>
    </div>
    <!-- (click)="getAutoCom()" -->
</div>