<div class="mainDiv">
    <h2>英文單字自己輸入</h2>
    <form #queryForm="ngForm">
        <div role="alert" *ngIf="message" class="alert alert-danger">
            {{ message }}
        </div>
        <div class="input-group fMargin">
            <div class="input-group-prepend">
                <span class="input-group-text">英文：</span>
            </div>
            <input class="form-control" type="text" (keyup.enter)="onBlur()" (keyup)="getWordIdsFirstWay($event)" id="WordIdFirstWay" list="dynmicWordIds" name="WordIdFirstWay" [(ngModel)]="newWord.eng" autocomplete="off" />
            <datalist id="dynmicWordIds">
                <option *ngFor="let item of wordList1 " [value]="item ">{{item}}</option>
            </datalist>
        </div>
        <div class="input-group fMargin ">
            <div class="input-group-prepend ">
                <span class="input-group-text ">中文：</span>
            </div>
            <textarea id="chi" name="chi" [(ngModel)]="newWord.chi " class="form-control " rows="3 "></textarea>
        </div>

        <div class="input-group fMargin " *ngIf="wordAry.length> 0">
            <div class="input-group-prepend">
                <span class="input-group-text">字庫：</span>
            </div>
            <select class="form-control">
            <option *ngFor="let word of wordAry">{{word.eng}}</option>
        </select>
        </div>

    </form>

    <div class="navbar fixed-bottom foot2nd">
        <div class="row">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button *ngIf="newWord.chi" type="button" class="btn btn-success" (click)="Add2List()" title="加入字庫">加入</button>
                <button *ngIf="wordAry.length > 0" type="button" class="btn btn-success" (click)="Save2Local()" title="加入本次字庫，上次儲存之字庫會被清除">儲存</button>
            </div>
        </div>
    </div>
    <!-- (click)="getAutoCom()" -->
</div>