<div class="mainDiv">

    <div class="row">


        <table class="col-12">
            <tr>
                <td class="center">
                    <h2>英文單字練習</h2>
                </td>
            </tr>
            <tr *ngIf="message">
                <td class="center">
                    <span class="alert alert-danger">{{message}}</span>
                </td>
            </tr>
            <tr *ngIf="wordAry">
                <td class="left"><span>{{wIndex}}/{{wordAry.length}}</span></td>
                <td class="right"><span class="justify-content-end">{{rptCount}}/{{totalRpt}} </span></td>
            </tr>
            <tr>
                <td class="center">
                    <h4>{{currentWord.eng}}</h4>
                </td>
            </tr>
            <tr>
                <td class="center">
                    <h4>{{currentWord.chi}}</h4>
                </td>
            </tr>
            <tr>
                <td class="center ">
                    <input class="mainWord" type="text" [(ngModel)]="exWord" (keydown)="onKeydown($event)">
                    <!-- <input type="text" [(ngModel)]="exWord" (keyup.enter)="onEnter()"> -->
                </td>
            </tr>
        </table>
        <div class="col-12" id='tDiv'>

        </div>
    </div>

    <div class="navbar fixed-bottom foot2nd" *ngIf="false">
        <div class="row">
            <table class="col-12">
                <tr>
                    <td class="left"><button type="button" class="btn btn-success">設定</button></td>
                    <!-- <td class="showOk"><button type="button" class="btn btn-success">{{ok}}</button></td> -->
                </tr>
            </table>
        </div>
    </div>

</div>